doctype html
html
  head
    title GVTS - Global Vivillon Trade Station
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")

    script(src='/libs/image-picker/image-picker.js')
    link(rel='stylesheet' href='/libs/image-picker/image-picker.js')
  body
    block content