doctype html
html
  head
    title GVTS - Global Vivillon Trade Station
    meta(property='og:site_name' content='GVTS - Global Vivillon Trade Station')
    meta(property='og:image' content='/images/Logo.png')
    meta(property='og:description' content='Find users with the Vivillons you\'ve been looking for on the Global Vivillon Trade Station!')
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")

    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.0/moment-timezone.min.js')

    script(src="/libs/mask-input/maskedInput.js")
    script(src='/libs/image-picker/image-picker.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet' href='/libs/image-picker/image-picker.css')
    block head
  body
    .titleBar
      a(href='/')
        span GVTS
        img(src='/images/white.png')
    .main
      block content
    .footer
      a(href='/about') About / Send feedback