doctype html
html
  head
    title GVTS - Global Vivillon Trade Station
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")

    script(src="/libs/mask-input/maskedInput.js")
    script(src='/libs/image-picker/image-picker.js')
    script(src='/javascripts/index.js')
    link(rel='stylesheet' href='/libs/image-picker/image-picker.css')
    block head
  body
    block content