.main {
  padding-left: 20px;
  padding-right: 20px;
  width: 950px;
}


.registration, .login {
  border: 1px solid #ccc;
  padding-left: 20px;
  width: 925px;
  vertical-align: center;
  margin: auto;
  /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #E6E6E6 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #E6E6E6 100%);

  /* Opera */ 
  background-image: -o-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #E6E6E6 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #E6E6E6));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center, circle closest-corner, #FFFFFF 0%, #E6E6E6 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: radial-gradient(circle closest-corner at center, #FFFFFF 0%, #E6E6E6 100%);
}

  #regTitle {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .regInfo {
    width: 940px;
    height: 35px;
    padding-top: 7px;
    padding-bottom: 3px;
    margin-left: 0px;
  }

 #passConfirm {
    float: left;
    margin-left: 9px;
  } 
  #password{
    margin-left: 9px;
    float: left;
  }
  #nativePattern {
    float: left;
    margin: 5px 0 0 10px;
  }
  #ign {
    float: left;
  }

  #selectNativePattern {
    width: 108px;
  }

  #somethingElseCheckbox {
    width: 20px;
    margin: 10px 3px 0 3px;
    vertical-align: bottom;
  }

  #somethingElseText {
    font-size: 12px;
    line-height: 20px;
  }

  #registerFcInput{
    float: left;
    margin-left: 9px;
    width: 130px;
    padding-left: 4px;
  }

  #registerButton {
    margin: 12px 420px;
    width: 65px;
  }

.login {
  overflow: hidden;
  padding-bottom: 20px;
}

  #loginFc {
    float: left;
    margin-right: 10px;
  }

  #loginFcInput {
    width: 130px;
  }

  #loginPassword {
    float: left;
    margin-right: 70px;
  }

  .displayNone {
    display: none;
  }

.flashMessage {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}