body {
  background-color: #eee;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #555;
  margin: 0;
}

.main {
  background-color: white;
  width: 950px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}

.titleBar {
  color: white;
  font-size: 30px;
  background-color: #aaa;
  text-align: center;
  width: 990px;
  margin: auto;
  font-weight: bold;
  padding: 5px 0;
  vertical-align: middle;
}

.titleBar img {
  position: absolute;
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
}

.titleBar a {
  color: white;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 7px 10px 10px 10px;
  height: 30px;
}

button:hover {
  background-color: #fcfcfc;
}

button:active {
  background-color: #eee;
}

button:focus {
  outline: 0;
}

.centered {
  text-align: center;
}

.login {
  border: 1px solid #ccc;
  width: ;

}

  input {
    height: 24px;
    width: 200px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }


#want {
  margin-top: 20px;
}

label span {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #aa3355;
}

.form-vivillon-list {
  width: 890px;
  margin-top: 3px;
  padding: 13px 0 0 13px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 1px #ccc;
  background-color: white;
}

.left {
  width: 650px;
}

.right {
  width: 300px;
}

.userInfo {
  margin: 30px 20px;
  border: 1px solid #CCC;
  overflow: hidden;
}

.othersInfo img {
  height: 60px;
}

.topbar {
  padding-top: 3px;
  overflow: hidden;
  width: 100%;
  background-color: #ddd;
  font: 17px  "Lucida Grande", Helvetica, Arial, sans-serif;
}
  .selfIgn, .selfFc {
    float: left;
    height: 23px;
    margin: auto 20px;
    line-height: 25px;
  }

  .selfFc {
    font-size: 15px;
    margin-top: 1px;
  }

  #update, #logout {
    float: right;
    margin: auto 20px;
  }

  .topbar a {
    color: #555;
    text-decoration: underline;
    font-size: 13px;
    line-height: 25px;
    cursor: pointer;
  }

  .userIgn, .userFc {
    float: left;
    height: 23px;
    margin: auto 20px;
    line-height: 25px;
  }

  .userFc {
    font-size: 15px;
    margin-top: 1px;
  }

.selfOffering {
  padding-top: 5px;
}

.userOffering {
  padding-top: 5px;
}


.vivillonLists {
  padding: 0 20px;
  font-size: 13px;
}

.vivillonLists p{
  margin: 4px auto;
}

.bigHr {
  margin: 40px;
}