body {
  background-color: #eee;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #555;
  margin: 0;
}

.main {
  background-color: white;
  width: 910px;
  margin: auto;
  padding: 20px 40px;
  overflow: hidden;
}

.titleBar {
  color: white;
  font-size: 30px;
  background-color: #aaa;
  text-align: center;
  width: 990px;
  margin: auto;
  font-weight: bold;
  padding: 5px 0;
  vertical-align: middle;
}

.titleBar img {
  position: absolute;
  height: 25px;
  padding-top: 5px;
  padding-left: 5px;
}

.titleBar a {
  color: white;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

button {
  background-color: white;
  border: 1px solid #ccc;
  padding: 7px 10px 10px 10px;
  height: 30px;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #ccc;
}

button:focus {
  outline: 0;
}

.centered {
  text-align: center;
}

.login {
  border: 1px solid #ccc;
  width: ;

}

  input {
    height: 24px;
    width: 200px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }


#want {
  margin-top: 20px;
}

label span {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #aa3355;
}

.form-vivillon-list {
  width: 890px;
  margin-top: 3px;
  padding: 13px 0 0 13px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 1px #ccc;
  background-color: white;
}

.left {
  float: left;
  width: 610px;
}
  .left p {
    margin: 5px auto;
  }

.userInfo {
  margin: 30px 0;
  border: 1px solid #CCC;
  overflow: hidden;
}
  .othersInfo {
    margin-top: 20px;
    width: 580px;
  }

img.smallVivillon {
  height: 60px;
}

.topbar {
  padding-top: 3px;
  overflow: hidden;
  width: 100%;
  background-color: #ddd;
  font: 17px  "Lucida Grande", Helvetica, Arial, sans-serif;
}
  .selfIgn, .selfFc {
    float: left;
    height: 23px;
    margin: auto 20px;
    line-height: 25px;
  }

  .selfFc {
    font-size: 15px;
    }

  .selfOffering {
    padding-top: 5px;
  }

  .userOffering {
    padding-top: 5px;
  }

.vivillonLists {
  padding: 0 20px;
  font-size: 13px;
}

  #update, #logout {
    float: right;
    margin: auto 20px;
    font-size: 13px;
  }

  .topbar a {
    color: #555;
    text-decoration: underline;
    line-height: 25px;
    cursor: pointer;
  }

.userIgn, .userFc {
    float: left;
    height: 23px;
    margin: 0 20px 2px 20px;
    line-height: 25px;
  }

  .userFc {
    font-size: 15px;
    margin-top: 1px;
  }

.vivillonLists p{
  margin: 4px auto;
}

.bigHr {
  margin: 40px;
}

.right {
  width: 310px;
  padding-left: 15px;
  border-left: 2px solid #ccc;
}

h2 {
    padding: 5px 0 5px 15px;
    border-bottom: 2px solid #ccc;
    margin: 0;
  }

.buttons {
  margin: 15px 0 10px 0;
}
