p {
  margin-top: 20px;
}

#statusTextarea {
  width: 350px;
  height: 65px;
}

#somethingElseCheckbox {
  width: 20px;
  margin: 10px 3px 0 3px;
  vertical-align: bottom;
}

#somethingElseText {
  font-size: 12px;
  line-height: 20px;
}

.form-vivillon-list {
  padding-bottom: 13px;
}

.timezone-picker {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 1px #ccc;
}