body {
  width: 100%;
  margin: 0 40px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 80px;
  margin-right: 3px;
}

.right {
  float: right;
  width: 300px;
  height: 100%;
  background-color: #ccc;
}

.left { 
  float: left;
}

.userInfo {
  width: 870px;
  margin: 50px auto 30px auto;
  border: 1px solid #CCC;
  overflow: hidden;
}

.topbar {
  overflow: hidden;
  width: 100%;
  background-color: #ccc;
  padding: 0 10px;
  font: 17px  "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
  .selfIgn, .selfFc {
    float: left;
    margin-right: 20px;
  }

  #updateButton, #logout {
  }

h3 {
  margin: 9px auto;
}

.vivillonLists {
  float: right;
  width: 583px;
  padding-right: 20px;
}

.vivillonLists p{
  margin: 4px auto;
}