body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img {
  height: 80px;
  margin-right: 3px;
}

.right {
  float: right;
}

.left { 
  float: left;
}

.ask {
  width: 48%;
  text-align: center;
}

.ask p {
  margin: 15px auto;
}

.toggleVivillons {
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px 0 10px 10px;
  display: inline-block;
}

.filterSelection {
  margin-left: 10px;
}

.labelSpan {
  padding-left: 15px;
  padding-right: 5px;
}

/*=======================================
----------MESSAGE RELATED STUFF
=======================================*/

.sendMessage {
  width: 48%;
  text-align: center;
}

  .messageContainer {
    width: 300px;
    height: 100%;
    padding-left: 0;
    border: none;
  }

  .message {
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    padding: 7px 0 7px 10px;
  }

  .message a {
     color: #555;
  }

  .messageTime {
    font: 11px 'Calibri', sans-serif;
    float: right;
    color: darkgrey;
    padding: 9px 10px 0 0;
  }

  .messageContent {
    font-size: 13px;
    margin: 5px 10px 8px 7px;
    border-left: 2px solid #ccc;
    padding-left: 7px;
  }

  .messageSubject {
    margin: 7px 10px 8px 0;
  }

  .messageFromMe {
    color: #aaa;
  }

  .messageFromMe a {
    color: #aaa;
  }

.offeringSelection, .lookingForSelection {
  .float: left;
}

.noOffersFound {
  display: none;
}

.UserMessages {
  display: none;
}

.messageSort {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

label {
  float: right;
  margin-top: 11px;
  margin-right: 5px;
  font-size: 13px;
}

.toggleSender {
  padding-left: 3px;
  padding-top:  15px;
  margin: 0;
  padding-bottom: 15px;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
}

.toggleSender ~ div{
  display: none;
}

.down, .up {
  float: right;
  height: 18px;
  padding-top: 15px;
  cursor: pointer;
}
.up {
  display: none;
}

.addme {
  background: white;
}

h3 {
  margin: 9px auto;
}

textarea {
  margin-left: 80px;
  width: 240px;
  float: left;
}

button#sendButton {
  float: left;
  margin: 3px 0 0 10px;
}